<!-- jquery -->
<script type="text/javascript" src="/assets/js/jquery/jquery.min.js"></script>

<!-- popper -->
<script type="text/javascript" src="/assets/js/popper/popper.min.js"></script>

<!-- bootstrap -->
<script type="text/javascript" src="/assets/js/bootstrap/bootstrap.min.js"></script>

<!-- fontawesome -->
<script type="text/javascript" defer src="/assets/js/fontawesome/fontawesome-all.min.js"></script>

{% if page.title == 'Search' %}
<!-- lunr -->
<script src="/assets/js/lunr/lunr.js"></script>
<!-- jekyll-search -->
<script src="/assets/js/search/search.js"></script>
{% endif %}
