<a name="top"></a>
<nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
  <a class="navbar-brand" href="/"><img class="brand-image logo" src="/assets/img/avatar/owl.svg" alt="Logo"/>
    <strong>{{ site.title }}</strong>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    {% include pages_list.html %}
    <form class="form-inline my-2 my-lg-0" action="/search" method="get" data-search-form>
      <input class="form-control mr-sm-2" type="text" name="q" placeholder="Search for..." data-search-input aria-label="Search">
      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit"><i class="fa fa-search" aria-hidden="true"></i> Go!</button>
    </form>
  </div>
</nav>
